html, body {
  width: 300px;
  height: 450px;
  text-align: center;
}

button {
  display: block;
  width: 200px;
  margin-bottom: 5px;
}

#general-settings {
  margin-bottom: 20px;
  display: none;
}

#general-settings button {
  margin-left: 40px;
}

li {
  margin-bottom: 6px;
}

option {
  display: inline;
  color: blue;
}

option:hover {
  cursor: pointer;
}
