
#sniffmenu {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 25px;

  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 9999;

  color: black;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 3px;

  text-align: center;
}

#sniffmenu h5 {
  margin: 5px 0 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;

  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;

  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
}

#save-btn {
  height: 20px;
  width: 80%;
  font-size: 13px;
}
